<section class="contact">
    <h2 class="title page-title">{{ 'contact-me' | translate}}</h2>
    <p class="contact--paragraph">
      {{ 'contact-intro' | translate}}
    </p>

    <form class="form" (ngSubmit)="submitForm(contactForm)" #contactForm="ngForm">
          <div class="form--field">
            <label for="name" class="form--label">{{ 'form-name' | translate}}</label>
            <input
              type="text"
              name="name"
              class="form--input"
              [(ngModel)]="name"
              #nameInput="ngModel"
              required>

            <div class="form--error" *ngIf="nameInput.invalid && nameInput.touched">
              {{ 'form-name-err' | translate}}
            </div>
          </div>

          <div class="form--field" style="margin-bottom: 2em;">
            <label for="email" class="form--label">{{ 'form-email' | translate}}</label>
            <input
              type="email"
              name="email"
              class="form--input"
              [(ngModel)]="email"
              #emailInput="ngModel"
              required
              email>

            <div class="form--error" *ngIf="emailInput.invalid && emailInput.touched">
              {{ 'form-email-err' | translate}}
            </div>
          </div>

          <div class="form--field">
            <label for="name" class="form--label">{{ 'form-subject' | translate}}</label>
            <input
              type="text"
              name="subject"
              class="form--input"
              [(ngModel)]="subject"
              #subjectInput="ngModel"
              required>

            <div class="form--error" *ngIf="subjectInput.invalid && subjectInput.touched">
              {{ 'form-subj-err' | translate}}
            </div>
          </div>

          <div class="form--field">
            <label for="name" class="form--label">{{ 'form-message' | translate}}</label>
            <textarea rows="6" name="message" class="form--textarea" [(ngModel)]="message"></textarea>
          </div>

          <div class="form--field">
            <button
              type="submit"
              class="form--submit btn"
              [disabled]="contactForm.invalid">
              {{ 'form-send' | translate}}
            </button>
            <div class="form--success" *ngIf="showMsg">Email sent!</div>
          </div>
        </form>
  </section>