/* Main colors */

$dark: #3e474c /*#242424*/;
$main: #f7f7f7;
$accent: #7a231f /*#6d738f*/;
$accent-dark: #283a4f /*#282b38*/;

/* Typography */
$text-dark: #000000d5;
$text-light: #ffffffe8;

/* Brands */
$appleMusic: #e7515f;
$facebook: #425894;
$imdb: #edc748;
$spotify: #65d46e;
$amazonMusic: #3d06f3;
