@use "_colors" as *;

.page-title {
  padding-top: 3em;
  padding-bottom: .5em;
  color: $accent;

  &::after {
    content: "";
    display: block;
    height: 3px;
    width: 1.5em;
    border-radius: 1px;
    background-color: $accent;
    margin: 0 auto;
    margin-top: 0.25em;
  }
}

.section-title{
  color: $accent-dark;
}
