<section class="works-page" *ngIf="works">

    <h2 class="page-title works--title">{{ 'my-works' | translate}}</h2>

    <div class="works">
      <div class="works--card card" *ngFor="let work of works | async">
      <img [src]="'/assets/img/works/' + work.image" alt="">
        <div class="works--card--text">
          <h3 class="works--card--title">{{ work.title }}</h3>
          <p class="works--card--client">{{ work.client }}</p>
        </div>
      
        <div [routerLink]="routeDirect + work.id" class="works--card--hover">
          <p class="works--card--hover--text">{{'click-to-listen' | translate}}</p>
        </div>
      </div>
    </div>
  </section>