<section class="biography">
    <h2 class="page-title" i18n>Biografia</h2>

    <div class="biography--container">
        <div class="biographi--body">
            <p i18n>
                Alessandro ha scoperto il suo amore per la musica da bambino iniziando a cantare. Fin dai dodici anni si è esibito sul palco, prendendo parte a diversi musical in Italia e formandosi come performer con la guida di Egidio la Gioia e presso la Guilford School of Acting in Inghilterra. Crescendo ha approcciato molti strumenti musicali interessandosi della creazione di nuovi suoni e di arrangiamento, produzione e missaggio.
            </p>
            <p i18n>
                La musica per media ha presentato l’occasione di combinare la sua passione per composizione, arrangiamento e produzione con quella di dar voce e interpretazione alle storie. Il background nel musical e la passione per variegati generi musicali, dal rock progressive alla world music, forniscono un carattere distintivo alla musica di Alessandro che si presta ad enfatizzare, rispettandola, l’emozione narrata dalle immagini.
            </p>
        </div>
        <img src="../../assets/img/alessandro2.jpg" alt="" class="biography--img">
    </div>
</section>