@use "../helpers/" as *;

.form {
    display: flex;
    flex-direction: column;
    background-color: $dark;
    padding: 2em .75em;

    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%);

    &--field{
        display: flex;
        flex-direction: column;
    }

    &--label{
        color: $text-light;
    }
    
}