<div class="hero">
    <div class="hero--container">
      <img src="assets/img/alessandro.jpg" alt="" class="hero--img">

      <div class="hero--text">
        <h1 class="hero--title" i18n>Compositore per media</h1>
        <p class="hero--subtitle"i18n>Film, TV e videogiochi</p>
        <button routerLink="contact" class="hero--btn cta btn" i18n>Contatta</button>
      </div>
    </div>
    <div class="hero--social">
      <a href="https://www.imdb.com/name/nm12897665/" target="_blank" class="hero--social--icon"><i class="fa-brands fa-imdb"></i></a>
      <a href="https://www.facebook.com/alessandrobencini.s" target="_blank" class="hero--social--icon"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://open.spotify.com/artist/6wYTfoadkkUcZAXzrz67MT?si=1DqzIvR4QQGAghoWs2K78A" target="_blank" class="hero--social--icon"><i class="fa-brands fa-spotify"></i></a>
      <a href="https://music.apple.com/it/artist/alessandro-bencini/1612535867" target="_blank" class="hero--social--icon"><i class="fa-brands fa-itunes"></i></a>
      <a href="https://music.amazon.it/artists/B008SI4EN0/alessandro-bencini?marketplaceId=APJ6JRA9NG5V4&musicTerritory=IT&ref=dm_sh_p7nntpYjzjBNLGXyyKF6oKYAU" target="_blank" class="hero--social--icon"><i class="fa-brands fa-amazon"></i></a>
    </div>
  </div>

  <section class="recent-works">
    <h2 class="section-title" i18n>Lavori recenti</h2>
    <app-works></app-works>
  </section>

  <section class="home-bio">
    <h2 class="section-title"i18n>Chi sono</h2>
    <p class="paragraph" i18n>
      Sono un compositore e cantante di Milano. Il mio viaggio nella musica è iniziato all'età di dodici anni con il canto e il Musical. Crescendo ho iniziato a sperimentare con il missaggio, l'arrangiamento e la produzione della mia musica e di quella di altri artisti. Negli ultimi anno ho avuto l'opportunità di comporre musica originale per Film e TV, combinando il mio amore per la composizione, la produzione e lo storytelling.
    </p>

    <button routerLink="contact" class="cta btn btn-dark" i18n>Contatta</button>
  </section>