<div class="hero">
    <div class="hero--container">
      <img src="assets/img/alessandro.jpg" alt="" class="hero--img">

      <div class="hero--text">
        <h1 class="hero--title">{{ 'hero-title' | translate }}</h1>
        <p class="hero--subtitle">{{ 'hero-subtitle' | translate }}</p>
        <button routerLink="contact" class="hero--btn cta btn">{{ 'get-in-touch' | translate}}</button>
      </div>
    </div>
    <div class="hero--social">
      <a href="https://www.imdb.com/name/nm12897665/" target="_blank" class="hero--social--icon"><i class="fa-brands fa-imdb"></i></a>
      <a href="https://www.facebook.com/alessandrobencini.s" target="_blank" class="hero--social--icon"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://open.spotify.com/artist/6wYTfoadkkUcZAXzrz67MT?si=1DqzIvR4QQGAghoWs2K78A" target="_blank" class="hero--social--icon"><i class="fa-brands fa-spotify"></i></a>
      <a href="https://music.apple.com/it/artist/alessandro-bencini/1612535867" target="_blank" class="hero--social--icon"><i class="fa-brands fa-itunes"></i></a>
      <a href="https://music.amazon.it/artists/B008SI4EN0/alessandro-bencini?marketplaceId=APJ6JRA9NG5V4&musicTerritory=IT&ref=dm_sh_p7nntpYjzjBNLGXyyKF6oKYAU" target="_blank" class="hero--social--icon"><i class="fa-brands fa-amazon"></i></a>
    </div>
  </div>

  <section class="recent-works">
    <h2 class="section-title">{{ 'recent-works' | translate}}</h2>
    <app-works></app-works>
  </section>

  <section class="home-bio">
    <h2 class="section-title">{{ 'about-me' | translate}}</h2>
    <p class="paragraph">
     {{ 'about-me-body' | translate}}
    </p>

    <button routerLink="contact" class="cta btn btn-dark">{{ 'get-in-touch' | translate}}</button>
  </section>