@use "_colors" as *;



.page-title{
    padding-top: 3em;

    &::after{
        content: '';
        display: block;
        height: 3px;
        width: 1.5em;
        border-radius: 1px;
        background-color: $dark;
        margin: 0 auto;
        margin-top: .25em;
    }
}